@model SalesManagementMVC.Models.OrderItem

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Count
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt>
            Unit Value
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitValue)
        </dd>
        <dt>
            Product Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            Total
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>

    <form asp-action="DeleteItem">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>