@model SalesManagementMVC.Models.ViewModels.OrderDetailsFormViewModel


@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Id)
        </dd>
        <dt>
            Customer Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.CustomerId)
        </dd>
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Name)
        </dd>
        <dt>
            Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Status)
        </dd>
        <dt>
            Total
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Total)
        </dd>
        <dt>
            Created
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Created)
        </dd>
        <dt>
            Updated
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Updated)
        </dd>
        <dt>
            Payment Form
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.PaymentForm)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Count
                </th>
                <th>
                    Unit value
                </th>
                <th>
                    Product name
                </th>
                <th>
                    Total
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderItems)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Order.Id">Edit</a> |
                    <a asp-action="DeleteItem" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Order.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
